<header>
  <div class="navbar_component">
    <div class="nav_logo">
      <a href="#" class="nav_img"><img src="assets/images/logo_web.svg" title="VerticFX - Trading"></a>
    </div>

    <div class="nav_content">
      <nav>
        <ul class="navbar_">

          <li>
            <a href="#" class="nav_link">Home</a>
          </li>
          <li>
            <a href="#" class="nav_link">Services</a>
          </li>
          <li>
            <a href="#" class="nav_link">About</a>
          </li>
          <li>
            <a href="#" class="nav_link">Packages</a>
          </li>
          <li>
            <a href="#" class="nav_link">Tutorials</a>
          </li>
          <li>
            <a href="#" class="nav_link">Contact Us</a>
          </li>

        </ul>
      </nav>

      <a href="#" class="v_btn"><span>Invest Now</span></a>
    </div>
  </div>
</header>
