<section class="banner-main-home">

  <div class="banner_wrapper">

    <div class="banner_content">
      <h1>
        <span>Welcome To VerticFX</span>
      </h1>

      <div class="para_">
        <span>Lorem Ipsum is simply dummy text of the printing
          has been the industry's </span>
      </div>

      <div class="w_btn_wrapper">
        <a href="#" class="v_btn"><span>Invest Now</span></a>
      </div>
    </div>

    <div class="banner_img">
      <div class="img_box">
        <div class="img_" style="background-image: url('assets/images/banner-svg.svg');"></div>
      </div>
    </div>

  </div>

</section>
