$p-color-1:#5577ff;
$p-color-2:#40d5e6;

$color-l-green:#03d86d;
$color-green:#00d391;

$color-orange:#ff9f55;
$color-yellow:#ffd255;

$color-text:#1c1c1c;
$color-white:#fff;

// Font Family

$font-primary: 'Montserrat';
